/* 
Quiz4
*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
//variables
$main-color: #05a081;
$text-color: #fff;
$bg-color: #eee;
$bg-color-2: #333;

*{
    box-sizing: border-box;
}

body{
    // font-family: 'Nunito', sans-serif;
    // font-size: 18px;
    font: {
        family: 'Nunito', sans-serif;
        size: 18px;
    }
}

header{
    width:100%;
    position: absolute;/* absolute */
    background: transparent;
    z-index: 10;
}
.header-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}

.logo{
    color: $text-color;
    font-weight: bold;
    font-size: 3rem;
}

.banner{
    // background-image: url(../images/background.jpg);
    // background-size: cover;
    background: {
        image: url(../images/background.jpg);
        size: cover;
        position: center;
    };
    width: 100%;
    height: 80vh;
    position: relative;
}
.banner-text{
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    top:40%;
    z-index: 10;
}
.banner-text-items {
    color: $text-color;
    text-align: center !important;
    margin: auto;
    width: 50%;
    
}
.banner-text-items h2 {
    font-size: 3rem;
}

// navigation
nav{
    text-align: center;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;

        li{
            position: relative;
            list-style: none;
            padding: 1em 0;

            a{
                text-decoration: none;
                padding: 1.4rem 2rem;
                display: block;
                color: $text-color;
            }
            a:hover{
                color: $text-color;
                opacity: 0.6;
            }
            ul{
                position: absolute;
                grid-template-columns: 1fr;
                width: 100%;
                background-color: $text-color;
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s;
                li{
                    a{
                        color: $bg-color-2;
                        padding: 0 0;
                        display: block;
                    }
                    a:hover{
                        color: $bg-color-2;
                        opacity: 0.6;
                    }
                }
            }
        }
        li:hover{
            ul{
                max-height: 500px;
            }
        }
    }
}
#toggle{
    display: none;
}
.label{
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: $text-color;
}

// custom css
.padding{
    padding: 4rem 0;
}
.bg-color{
    background-color: $bg-color-2;
    overflow: hidden;
}

main{
    background-color: $bg-color;
}

// grid
.header-grid{
    display: grid;
    grid-auto-flow: column;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}
.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn{
    background: $main-color;
    padding: .6em 2em;
    color: $text-color;
    /* box-shadow: horizontal vertical blur-radius color; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    border-radius: 25px;
}

.box{
    padding: 2em;
    text-align: center;
    color: $text-color;
}
.box .fas{
    font-size: 2em;
}
footer{
    width: 100%;
    text-align: center;
}
// social media
.social{
    width: 50px;
    position: fixed;
    top: 65%;
    left: 1%;
    
}
.social i{
    display: block;
    width: 40px;
    font-size: 1.4em;
    cursor: pointer;
    padding: 2px;
}
@media(max-width: 992px){
    .label{
        display:block;
        cursor: pointer;
    }
    nav ul{
        background-color: rgba(0,0,0,0.6);
        grid-template-columns: 1fr;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .toggle{
        display: block;
    }
    #toggle:checked+ul{
        max-height: 500px;
    }
    .header-grid, .main-grid, .section-grid{
        grid-template-columns: 1fr;
    }
}